<div class="footer-separator"></div>
<div class="footer-links">
  <a href="{{site_url}}/imprint" class="footer-link">Imprint</a>
  <a href="{{site_url}}/privacy" class="footer-link">Privacy policy</a>
</div>
