<div class="footer-content justify-between-around">
  <div class="footer-copyright">&#169; {{{ copyright_date }}} SchildiChat</div>
  <div class="footer-links-holder">
    <div class="footer-links">
      <a href="/imprint" class="footer-link">Imprint</a>
      <a href="/privacy" class="footer-link">Privacy policy</a>
      <a href="https://github.com/SchildiChat" class="footer-link">Code on GitHub</a>
    </div>
  </div>
</div>