<div class="footer-copyright">&copy; {{copyright_date}} {{site_name}}</div>
<div class="footer-links-holder">
  <div class="footer-links">
    {{#footer_links}}
      <a href="{{uri}}" class="footer-link">{{nav_name}}</a>
    {{/footer_links}}
    <a href="https://github.com/SchildiChat" class="footer-link"><img src="/img/icons/github-16.svg" class="icon">Code</a>
  </div>
</div>