---
title: SchildiChat Desktop
nav_name: Desktop
order_id: 15
is_subpage: false
github_src_link: https://github.com/SchildiChat/schildichat-desktop
github_releases: false
---

SchildiChat Web/Desktop is a fork of Element [Web](https://github.com/vector-im/element-web)/[Desktop](https://github.com/vector-im/element-desktop).

The most important changes of SchildiChat compared to Element are:
- A unified chat list for both direct and group chats
- Message bubbles
- Bigger items in the room list
- &hellip; and more!

**Discussion**: [#web:schildi.chat](https://matrix.to/#/#web:schildi.chat)  
**Release announcements**: [#web-announcements:schildi.chat](https://matrix.to/#/#web-announcements:schildi.chat)


## Screenshot

<div class="screenshot-container">
<a href="img/1.png" class="desktop-screenshot"><img src="img/1.png" alt="Screenshot"></a>
</div>


## Where can I get it?
- [All downloads for Desktop]({{github_src_link}}/releases) (old versions, **Windows** packages, <span style="display: inline-block">a **Linux AppImage** build</span> and <span style="display: inline-block">a build for **macOS**</span>)  
- [https://app.schildi.chat/](https://app.schildi.chat/) (hosted web variant)
- As installable package through a **Linux** package manager (see instructions below)

### apt <small>(e.g. Debian, Ubuntu, ...)</small>
```
sudo apt install -y wget apt-transport-https
wget -O - https://apt.supercable.onl/super-apt-repo.key | sudo apt-key add - 
echo "deb [arch=amd64] https://apt.supercable.onl/debian/ all main" | sudo tee /etc/apt/sources.list.d/super-apt-repo.list
sudo apt update
sudo apt install schildichat-desktop
```

### MPR <small>(e.g. Ubuntu, Debian, ...)</small>
SchildiChat can be installed from the [MPR](https://makedeb.hunterwittenborn.com/mpr/introduction/):
```
tap install schildichat-desktop-bin # or similar
```

### AUR <small>(e.g. Arch Linux, Manjaro, ...)</small>
SchildiChat can be installed from the [AUR](https://wiki.archlinux.org/index.php/Arch_User_Repository):
```
yay -S schildichat-desktop-bin # or similar
```

### Flatpak
SchildiChat is distributed on [Flathub](https://flathub.org/apps/details/chat.schildi.desktop):
```
flatpak install flathub chat.schildi.desktop
```

### Nix <small>(e.g. NixOS, home-manager or any Linux distro)</small>
The packages `schildichat-desktop` and `schildichat-desktop-wayland` are available in the nixos-unstable channel or the upcoming 21.11 release.

### Homebrew <small>(macOS)</small>
```
brew install schildichat
```

