---
layout: skeleton.hbs
---

<nav class="site-nav">
    <div class="container">
        <div class="nav-content flex-direction-adjust row-column">
            {{> navigation}}
        </div>
    </div>
</nav>

<main class="container">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

</main>

<footer>
    <div class="container">
        <div class="footer-content flex-direction-adjust row-column-reverse">
            {{> footer_content }}
        </div>
    </div>
</footer>
