---
layout: skeleton.hbs
---

<nav class="site-nav">
    <div class="container">
        <div class="nav-content flex-dynamic-adjust default-row">
            {{> site_nav}}
        </div>
    </div>
</nav>

<main class="container">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

</main>

<footer>
    <div class="container">
        <div class="footer-content flex-dynamic-adjust default-row">
            {{> footer_content }}
        </div>
    </div>
</footer>
