---
layout: skeleton.hbs
---

<main class="main">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

<div class="footer-separator"></div>
{{> footer_content }}

{{> copyright }}

</main>
