---
layout: skeleton.hbs
---

<main class="container">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

</main>

<footer>
    <div class="container">
        {{> footer_content }}
    </div>
</footer>
