---
layout: skeleton.hbs
---

<main class="container">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

</main>

<footer class="container">
    <div class="footer-separator"></div>
    {{> footer_content }}
</footer>
