---
layout: skeleton.hbs
---

<main class="container">

{{{ contents }}}

{{#if overview_list}}
{{> content_list }}
{{/if}}

</main>

<footer>
    <div class="container">
        <div class="footer-content justify-between-around">
            {{> footer_content }}
        </div>
    </div>
</footer>
