---
layout: base.hbs
---

<div class="error container">
    <h1>Error{{#if error_number}} {{error_number}}{{/if}}</h1>

    {{#if error_name}}<h2>{{error_name}}</h2>{{/if}}

    <img src="/img/SchildiChat_nopadding.svg" alt="{{error_name}}"/>

    {{{ contents }}}
</div>