---
layout: default.hbs
---

<h2>Install F-Droid</h2>

<p>
Install <a href="https://f-droid.org/">F-Droid</a> if you haven't already.
</p>
<p>
On old Android versions, you might need to enable the installation from "Unknown sources" in your System settings (usually under "Security").
</p>


<h2>Add the SpiritCroc F-Droid repo</h2>

<p>
You can find the SpiritCroc F-Droid repo here: <a href="https://s2.spiritcroc.de/fdroid/repo?fingerprint=6612ade7e93174a589cf5ba26ed3ab28231a789640546c8f30375ef045bc9242">https://s2.spiritcroc.de/fdroid/repo</a>.
</p>

<p>
Check out <a href="https://f-droid.org/tutorials/add-repo/">this F-Droid tutorial</a> for instructions on how to add it.
</p>


<h2>Install {{app_title}}</h2>

<p>
First, reload F-Droid's app information by swiping down F-Droid's overview screen.
</p>

<p>
Then, search for {{app_title}}, or open <a href="https://f-droid.org/de/packages/{{app_id}}/">this link</a> using the F-Droid app.
{{#if conflicts_other_repos}}
Scroll down and expand the "Versions" section.
There, expand the latest versions until you see one which says "Repository: SpiritCroc's Apps", and click the "Install" button to install it.
</p>

<img alt="F-Droid version selection" src="/img/fdroid_sc_repo_choice.png" class="img-center-in-text" />

<p>
For future updates, F-Droid will automatically use the same repository, so you don't need to worry about accidentally upgrading to a different version.
{{else}}
Finally, click install and that's it!
{{/if}}
</p>
