@use 'variables' as *;

:root {
	--vh: 1vh; // for stupid vh handling with address bar on mobile browsers
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    width: 100%;
    background-color: $bg-bottom-color;
    background-image: $bg-gradient;
}

body {
    min-height: 100vh;
    min-height: calc(100*var(--vh));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text_primary;
    background: none;
    font-family: $font_stack;
    margin: 0;
}

%link-colors {
    &:link, &:visited {
        color: $text_primary;
    }
    &:hover {
        color: $accent;
        text-decoration: underline;
    }
    &:active {
        color: $active;
        text-decoration: underline;
    }
}

footer {
    font-size: .9em;
    overflow-x: hidden;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: -1rem;
    margin-left: -4rem;

    > * {
        margin-top: 1rem;
        margin-left: 4rem;
    }
}

.footer-links {
    margin-top: -.6rem;
    margin-left: -2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    margin-top: .6rem;
    margin-left: 2rem;
    font-weight: bold;
}