@use 'variables' as *;

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background: $bg;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text_primary;
    background: none;
    font-family: $font_stack;
    margin: 0;
}

%link-colors {
    &:link, &:visited {
        color: $text_primary;
    }
    &:hover {
        color: $accent;
        text-decoration: underline;
    }
    &:active {
        color: $active;
        text-decoration: underline;
    }
}

footer {
    font-size: .9em;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: -1rem;
    margin-left: -4rem;

    > * {
        padding-top: 1rem;
        padding-left: 4rem;
    }
}

.footer-links {
    margin-top: -.6rem;
    margin-left: -2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    padding-top: .6rem;
    padding-left: 2rem;
    font-weight: bold;
}