$font_stack: Arial, sans-serif;
$text_primary: #ffffff;
$text_secondary: #b3b3b3;
$color_separator: #808080;
$bg: radial-gradient(circle farthest-corner at center top, #0a5c7c, #001a2a);
$accent: #8bc34a;
$accent_secondary: #cddc39;
$active: #ff9800;
