$font_stack: Arial, sans-serif;
$text_primary: #ffffff;
$text_secondary: #b3b3b3;
$color_separator: rgba(255, 255, 255, .5);
$bg-top-color: #0a5c7c;
$bg-bottom-color: #001a2a;
$bg-gradient: radial-gradient(circle farthest-corner at center top, $bg-top-color, $bg-bottom-color);
$accent: #8bc34a;
$accent_secondary: #cddc39;
$active: #ff9800;
