---
layout: 'skeleton.hbs'
nav_show: false
is_subpage: false
show_link_to_parent: false
stylesheet: index.css
nav_name: Home
---

<main>
	<img src="/img/SchildiChat_nopadding.svg" title="{{site_name}}" class="logo">
	<h1>Schildi<wbr>Chat</h1>
	<h2>
		<i>A turtle is on its way, but the ocean is big </i><span class="loading-container"><span class="loading"></span></span><!-- dots adapted from: https://codepen.io/thetallweeks/pen/yybGra -->
	</h2>
	<p>
		SchildiChat is a Matrix Client <span style="display: inline-block">based on <a href="https://element.io/get-started">Element</a></span> with a more traditional instant messaging experience.
	</p>
	<div class="buttons">
		<a href="/android/" class="button button-default">
			<img src="/img/icons/android-16.svg" class="icon">
			Android
		</a>
		<a href="/desktop/" class="button button-default">
			<img src="/img/icons/desktop-16.svg" class="icon">
			Desktop
		</a>
		<a href="https://app.schildi.chat" class="button button-default">
			<img src="/img/icons/web-16.svg" class="icon">
			Web
		</a>
	</div>
</main>

<footer>
	<div class="footer-content">
		{{> footer_content}}
	</div>
</footer>